.header {
    position: fixed;
    padding-left: 256px;
    background-color: var(--fullWhite);
    height: 112px;
    width: 100%;
    z-index: 1;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.2);
}