.settingBlock {
    position: absolute;
    bottom: 0;
    padding: 8px 0;
    height: 110px;
    width: 100%;
    border-top: 2px solid var(--greyD9);
}

.item {
    display: flex;
    padding: 12px 16px;
    align-items: center;
}

.positionIcon {
    margin-right: 30px;
}
