.card {
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 240px;
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24), 0 10px 63px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card:active {
    transform: scale(.95);
}

.img {
    width: 100%;
    height: 133px;
    cursor: pointer;
    background-size: 100% 100%;
}

.img[alt] {
    color: #808185;
    display: block;
    background-image: url("../../../assets/img/defaultBack.jpg");
}

.descrBlock {
    padding: 16px;
}

.text {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--black17);
    cursor: pointer;
}

.datePublic {
    margin-right: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--grayText)
}

.authorName {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--orange);
}