.card {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 240px;
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}