.btn {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--grayText);
}

.btn:disabled {
    opacity: 1;
}

.btnActive {
    color: var(--orange);
}

.border {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--orange);
    bottom: -15px;
    left: 0;
}

