.blockLikePosition {
    position: relative;
}

.btnArrowUpPos {
    position: absolute;
    top: -20px;
    transform: rotate(180deg);
}

.btnArrowDownPos {
    position: absolute;
    bottom: -16px;
}

.countLikes,
.countComments {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--black17);
}

.countComments {
    position: relative;
    top: -8px;
}

.countLikes {
    text-align: center;
    display: block;
    position: relative;
    width: 38px;
    top: 4px;
}
