.title {
    display: inline-block;
    padding: 16px 17px 24px;
    margin-right: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: var(--black17);
}

.arrow {
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: var(--black17);
    transition: background-color .3s ease-in-out;
}

.arrow:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 2px;
    background-color: var(--black17);
    left: 0;
    top: 3px;
    transform: rotate(45deg);
    transition: background-color .3s ease-in-out;
}

.arrow:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 2px;
    background-color: var(--black17);
    left: 0;
    top: -3px;
    transform: rotate(-45deg);
    transition: background-color .3s ease-in-out;
}



.btn {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 35px;
    height: 25px;
}


.btn:hover {
    transform: none;
}

.btn:hover .arrow {
    background-color: var(--orange);
}

.btn:hover .arrow:after {
    background-color: var(--orange);
}

.btn:hover .arrow:before {
    background-color: var(--orange);
}

.subredditName {
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--orange);
    border: 2px solid var(--orange);
    border-radius: 30px;
}